@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme reference {
  /* Enable all Tailwind utilities */
  --font-size-xs: 0.75rem;
  --line-height-xs: 1rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
}
